
body {
 background: #252839;
}
.container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
 
  background-image: url(heard.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

.dws1 {
  position: absolute;
  animation: pulsing 2s infinite;

}

.heart {
  position: relative;
  width: 100px;
  height: 170px;
  /* background-color: red; */
  background-image: linear-gradient(
  45deg, rgb(255, 238, 0) 50%, rgb(0, 112, 218) 50% );
  box-shadow: -1px 0px 2px #444;
  border-radius: 50px 50px 0 0;
  transform: rotate(315deg);
  
}
/* Формируем правую часть */
.heart:before {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 0;
  bottom: 0;
  content: "";

  background-image: linear-gradient(
  45deg, rgb(255, 238, 0) 50%, rgb(0, 112, 218) 50%);
  border-radius: 0 50px 50px 0;

}

@keyframes pulsing {
  0% {transform: scale(0.5); }
  50% {transform: scale(1.0);}
  100% {transform: scale(0.5);}
}

h1{
  position: relative;
  margin: 0;
  margin: 0 auto;
  color: rgb(255, 238, 0);
  font-weight: 700;
  font-size: 50px;
  /* text-transform: uppercase; */
  top: -137px;
    text-shadow: 1px 1px 3px #f9f5f5, 0px 1px 3px #292828;
}
.button-box{
padding-top: 30px;
display: flex;
justify-content: space-around;
align-items: center;
  
}